@media screen and (max-width: 480px) {
	.search-bar-container {
		width: 90%;
		flex-direction: column;
	}
	form {
		width: 100%;
    margin: 0;
	}
	input,
	button {
		width: 100%;
		margin-bottom: 12pt;
	}
	.donwload-image-thumbnail {
		width: 100%;
	}
}
